@inherits LayoutComponentBase

<div class="login-layout">
    <header class="login-layout__header">
        <div class="login-layout__brand">
            <span class="login-layout__logo">TS</span>
            <div>
                <strong>TicketDesk</strong>
                <span class="login-layout__tagline">Support Ticket Management</span>
            </div>
        </div>
        <span class="login-layout__sign-in">Sign In</span>
    </header>
    <div class="login-layout__content">
        @Body
    </div>
</div>

<ToastContainer />
